.page-default:has(> .view-struct) {
    --discovery-page-padding-right: 12px;
    --discovery-page-padding-bottom: 12px;
    --discovery-page-padding-left: 12px;
    background-color: rgba(205, 205, 205, 0.1);
    flex: 1;
}
.page-default > .view-struct {
    background-color: transparent;
    padding: 0;
    margin-top: 10px;
    margin-bottom: -4px;
}
.page-default > .view-struct.struct-expand:hover {
    outline: 5px solid rgba(187, 187, 187, 0.25);
}
