.page-settings {
    --discovery-page-padding-left: 40px;
}

.page-settings .view-h1 {
    margin-top: 0;
}

.page-settings .monospace-settings > .section-content {
    display: flex;
    gap: 20px;
}
.page-settings .monospace-settings > .section-content > .settings {
    min-width: 250px;
}
.page-settings .monospace-settings > .section-content > :last-child {
    flex: 1;
    display: flex;
    gap: 10px;
}
.page-settings .monospace-settings > .section-content > :last-child > * {
    flex: 1;
}
.page-settings .view-input input[type="color"] {
    width: revert;
    padding: 2px;
}

.page-settings .changes-actions {
    position: sticky;
    bottom: 0px;
    z-index: 1;
    background: color-mix(in srgb, var(--discovery-background-color), transparent 30%);
    backdrop-filter: blur(8px);
    border-top: 1px solid #161616;
    padding: 10px 0 10px var(--discovery-page-padding-left);
    margin: 0 calc(-1 * var(--discovery-page-padding-left)) 0 calc(-1 * var(--discovery-page-padding-right));
}
.page-settings .changes-actions .view-button {
    min-width: 100px;
}
