.flash-messages-container {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.flash-messages-container > .flash-message-wrapper {
    background: var(--discovery-background-color);
    background: color-mix(in srgb, var(--discovery-background-color), transparent 50%);
    border-radius: .25rem;
    backdrop-filter: blur(8px) grayscale(.5);
    transition: max-height .25s ease-out, opacity .25s ease-out;
    max-height: none;
    max-height: calc-size(fit-content, size);
    @starting-style {
        opacity: 0;
        max-height: 0px;
    }
}
.flash-messages-container .view-alert {
    min-width: 180px;
    position: relative;
    box-shadow: 0 0 0 .5px #0006;
    text-shadow: .5px .5px 0 #fffa;
    margin: 0;
    padding: 8px 12px;
    line-height: 1.2em;
}
.discovery-root-darkmode .flash-messages-container .view-alert {
    box-shadow: 0px 0px 1px 1px #0004;
    text-shadow: .5px .5px 0 #0006;
}
.flash-messages-container > .flash-message-wrapper.ready-to-remove {
    transition: .25s ease-out;
    transition-property: transform, opacity;
    opacity: 0;
    transform: translateX(100px);
}
